.site-header .header-info {
	display: none;
}

.menu li.current > a {
	color: #263238;
}

.widget-breadcrumbs li {
	text-transform: lowercase;
}

.widget-breadcrumbs li span {
	color: #212121;
	font-weight: normal;
}
